@import "_mixins";
@import "_variables";

footer{
    text-align: center;
    font-size: 30px;
    background-color:$colorPrincipal;
    color: white;
    margin-top: 2%;
    @include enlace-hover-negro;

}
footer i{
    font-size: 30px;
    letter-spacing: 20px;
}
