@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Futura");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
/* paleta de colores */
/* estilos fuente */
/*'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Futura");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
/* paleta de colores */
/* estilos fuente */
/*'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Futura");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700");
.navbar {
  background-color: #7952b3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(255, 255, 255, 0.15);
  font-family: "Avenir", sans-serif !important;
}

header {
  height: 70px;
  width: 100%;
  background-color: #7952b3;
  font-size: 22px;
  font-family: "Avenir", sans-serif; /*Verdana, Geneva, Tahoma, sans-serif;*/
  text-transform: capitalize;
  padding: 20px;
}

.logo {
  float: left;
  font-weight: bold;
  color: #fff;
}

.logo span {
  color: black;
}

.colorMenu {
  color: white;
  font-family: "Futura", sans-serif;
}

.barra {
  float: right;
  margin-right: 10px;
}

.barra ul li {
  list-style: none;
  display: inline-block;
  margin-right: 0px;
  margin-top: 10px;
}

.barra a {
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

.buscar {
  background-color: rgba(53, 28, 117, 0.3450980392);
  align-items: center;
}

.buscar a {
  margin-left: 10%;
  border-radius: 100%;
}

.buscar i {
  background-color: #351C75;
}

.barra button {
  width: auto;
}

.nav-link:hover {
  color: black !important;
}

.btnSearchMenu {
  height: 39px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse {
  background-color: #7952b3 !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-inline {
  flex-flow: nowrap;
  margin-left: 40%;
}

h1 {
  padding: 1%;
}

h2 {
  font-family: "Avenir", sans-serif !important;
  font-weight: bold;
  padding: 2%;
}

.listadeReproduccion {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(104, 82, 179) 0%, rgba(188, 189, 223, 0.7973783263) 100%);
  margin-top: 1%;
}

.centrar {
  align-items: center;
}

.contenedor {
  justify-content: left;
  background-color: #e4e3e4;
  width: 100%;
  display: flex;
  flex-direction: row;
}

a {
  color: white;
}

main {
  height: 100vh; /* vh la pantalla completa tambeien podes haces calc(100vh-80px que es el header)*/
  width: 100%;
  background-image: url(../img/music-7238254.jpg);
  background-size: cover;
  background-position: center;
}

img {
  border-radius: 50%;
}

.call {
  color: #fff;
  width: 50%;
  padding: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  float: inline-end;
  margin: auto;
}

.formulario {
  margin: 8% 35%;
  height: 350px;
  width: 400px;
  border: 4px solid #351C75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.carrousellista {
  height: 100px !important;
}

button {
  background-color: #351C75;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-family: "Futura", sans-serif;
  height: 30px;
  width: 110px;
  border-color: black;
}

button:hover {
  background-color: rgba(53, 28, 117, 0.3764705882);
  border: 2px solid black;
}

.call h1 {
  color: White;
  text-transform: capitalize;
  font-family: "Avenir", sans-serif;
  margin-left: 50px;
  margin-top: 115px;
  text-align: left;
}

.call p {
  color: white;
  font-family: "Futura", sans-serif;
  margin: 30px;
  font-size: 16px;
}

.call button {
  height: 40px;
  width: 150px;
  margin-left: 33%;
}

input {
  height: 30px;
  width: 250px;
  margin-left: 18%;
}

a input {
  height: 30px;
  width: 250px;
  margin-left: 28%;
  margin-right: 0%;
  margin-top: 0px;
}

.formulario h1 {
  text-align: center;
  margin-top: 10px;
  font-family: "Avenir", sans-serif;
  color: #351C75;
}

.btn {
  margin-top: 25px;
  margin-left: 18%;
  height: 30px;
  width: 250px;
}

.fb {
  background-color: #3578e5;
}

.google {
  background-color: black;
}

.Artistas {
  height: 400px;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 0%;
}

.Artistas img {
  height: 50%;
  margin-left: 20%;
}

.Artistas p {
  margin-top: 10%;
  margin-left: 32%;
  width: 90%;
  font-size: small;
  font-weight: bold;
}

.tracksnuevos {
  height: 50%;
  margin-bottom: 10%;
}

.Artistas button {
  margin-left: 30%;
}

.parrafo {
  margin: 0%;
  width: 100%;
}

.parrafo p {
  margin: 0%;
}

.TracksNuevosimg img {
  height: 70%;
  width: 90%;
  margin: 0%;
}

.TracksNuevosaudio {
  width: 90%;
  margin: 0%;
  padding: 3%;
}

.TracksNuevosaudio audio {
  height: 50%;
}

.TracksNuevosaudio p {
  width: 100%;
  height: 20%;
}

.Seguir {
  width: 50%;
  margin-left: 25%;
}

h3 {
  margin: 39px;
  font-family: "Avenir", sans-serif;
  font-weight: bold;
  font-size: medium;
}

h5 {
  font-family: "Avenir", sans-serif;
  font-weight: bold;
}

.reproductor {
  height: 350px;
  width: 350px;
  margin: 0%;
}

.reproductor img {
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 50%;
  height: 35%;
}

.reproductor p {
  margin-top: 10px;
  width: 90%;
  margin-left: 35%;
  font-size: small;
  font-weight: bold;
}

.audioUM {
  width: 80%;
  margin-left: 10%;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(255, 255, 255, 0.703); /*4e5dbf6a */
  border-color: rgba(0, 0, 0, 0.532);
}

audio::-webkit-media-controls-play-button {
  background-color: rgba(255, 255, 255, 0.638);
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}

.ListaReproduccion {
  margin: 0%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(117, 74, 181, 0.0901960784);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.121);
}

.cancion {
  margin-top: 1%;
}

.cancion audio {
  width: 90%;
  height: 50%;
  margin: 0%;
  margin-bottom: 5%;
}

.division1 {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  height: 33.3%;
  padding: 0%;
}

.TracksNuevosImg {
  height: 100%;
}

.TracksNuevosImg img {
  height: 50%;
}

.audioT {
  margin-bottom: 2%;
}

.divion1 .audioT {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audioT p {
  margin-left: 20px;
  margin-bottom: 5px;
}

.ordenar {
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.ordenar .Artistas {
  margin-left: 0%;
}

.ordenar .Artistas button {
  width: 100%;
}

.ordenar .Artistas p {
  font-size: smaller;
  width: 100%;
  margin: 0;
}

.megusta img {
  margin: 10%;
  height: 20% !important;
}

.ultimosMg {
  height: 560px;
}

.parrafo p {
  margin: 0%;
  font-family: "Futura", sans-serif;
}

.biblioteca {
  border: none;
  box-shadow: none;
}

.informacion {
  margin-top: 4%;
}

.informacion h5 {
  color: black;
}

.informacion img {
  height: 70%;
}

.card-title {
  font-family: "Avenir", sans-serif !important;
}

.card-text {
  font-family: "Futura", sans-serif !important;
}

p {
  font-family: "Futura", sans-serif;
}

.Verificado {
  color: #351C75;
}

/* paleta de colores */
/* estilos fuente */
/*'Playfair Display', serif;*/
footer {
  text-align: center;
  font-size: 30px;
  background-color: #7952b3;
  color: white;
  margin-top: 2%;
}
footer a :hover {
  color: black;
}

footer i {
  font-size: 30px;
  letter-spacing: 20px;
}/*# sourceMappingURL=style.css.map */