@import "_variables";
@import "_navbar";
@import "_mixins";

*{
    @include config;
}
.form-inline{
    flex-flow: nowrap;
    margin-left: 40%;
}

h1 {
    padding: 1%;
}
h2{
    font-family: $LetraTitulos !important;
    font-weight: bold;
    padding: 2%;

}
.listadeReproduccion{
    @include gradiente;
    margin-top: 1%;
    
}


.centrar{
    align-items: center;
}

.contenedor{

  justify-content: left;
  background-color: #e4e3e4;
  width: 100%;
  display: flex;
  flex-direction: row;
   

}
a{
    color: white;
}

main{
    height: 100vh; /* vh la pantalla completa tambeien podes haces calc(100vh-80px que es el header)*/
    width: 100%;
    background-image: url(../img/music-7238254.jpg);
    background-size: cover;
    background-position: center;   
}
img{

    border-radius: 50%;
}
.call{
    color: #fff;
    width: 50%;
    padding: 5%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    float: inline-end;
    margin: auto;

}
.formulario{
    margin: 8% 35%;
    height: 350px;
    width: auto;
    border: 4px solid $colorVerificadoYBtn;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.carrousellista
{
    height: 100px !important;
}


button{
    background-color: $colorVerificadoYBtn;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-family: $LetraTexto;
    height: 30px;
    width: 110px;
    border-color: black;

}

button:hover{
    background-color: #351c7560;
    border: 2px solid black; 
}

.call h1{
    color: White;
    text-transform: capitalize;
    font-family: $LetraTitulos;
    margin-left:50px;
    margin-top: 115px;
    text-align: left;
}
.call p{
    color: white;
    font-family: $LetraTexto;
    margin: 30px;
    font-size: 16px;
    
}

.call button{

    height: 40px;
    width: 150px;
    margin-left: 33%;
     
}
input{
    height: 30px;
    width: 65%;
    margin-left: 18%;
    
}
a input{
    height: 30px;
    width: 250px;
    margin-left: 28%;
    margin-right: 0%;
    margin-top: 0px;

}

.formulario h1{
    text-align: center;
    margin-top: 10px;
    font-family: $LetraTitulos;
    color: $colorVerificadoYBtn;
}
.btn2{
    margin-top: 25px;
    margin-left: 18%;
    height: auto;
    width: 65%;
    padding: 2%;

}
.fb{
    background-color: #3578e5;
}
.google{
    
    background-color: black;
}


.Artistas{
    height: 400px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left:0%;
}
.Artistas img{
    height: 50%;
    margin-left: 20%;
   
}
 .Artistas p{
    margin-top: 10%;
    margin-left: 32%;
    width: 90%;
    font-size: small;
    font-weight: bold;
    
}
.tracksnuevos{
    height: 50%;
    margin-bottom: 10%;
}
.Artistas button{
    margin-left: 30%;
}
.parrafo{
    margin: 0%;
    width: 100%;
}
.parrafo p{
    margin: 0%;
}
.TracksNuevosimg img{
    height: 70%;
    width: 90%;
    margin: 0%;
}
.TracksNuevosaudio{

    width: 90%;
    margin: 0%;
    padding: 3%;
}
.TracksNuevosaudio audio{
    height: 50%
}
.TracksNuevosaudio p{
    width: 100%;
    height: 20%;
}
.Seguir
{
    width: 50%;
    margin-left: 25%;
}
 h3
{   margin: 39px;
    font-family: $LetraTitulos;
    font-weight: bold;
    font-size: medium;

}
h5{
    font-family: $LetraTitulos;
    font-weight: bold;
}
.reproductor{
    height: 350px;
    width: 350px;
   
    margin: 0%;
    
}
.reproductor img{
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 50%;
    height: 35%;
}
.reproductor p{
    margin-top: 10px;
    width: 90%;
    margin-left: 35%;
    font-size: small;
    font-weight: bold;
}
.audioUM{
    
   width: 80%;
   margin-left: 10%;

}
audio::-webkit-media-controls-panel {
    background-color:$colorReproductor; /*4e5dbf6a */
    border-color: rgba(0, 0, 0, 0.532);
   
  }
  audio::-webkit-media-controls-play-button {
    background-color: rgba(255, 255, 255, 0.638);
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
  }
  
  .ListaReproduccion{

    margin: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .card{
    background-color:$colorCards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.121);
  }
  .cancion{
    margin-top: 1%;

  }
  .cancion audio{
    width: 90%;
    height: 50%;
    margin: 0%;
    margin-bottom: 5%;
  }
 

  .division1{
    justify-content:flex-start;

    display: flex;
    flex-direction: row;
    height: 33.3%;
    padding: 0%;

  
  }
  .TracksNuevosImg{
    height: 100%;
  }
 
.TracksNuevosImg img
{
    height: 50%;
}
  
  
.audioT{

    margin-bottom: 2%;

}

  .divion1 .audioT{
    display: flex;
    flex-direction:column;
    justify-content: space-between;

  }
  .audioT p{
    margin-left: 20px;
    margin-bottom: 5px;
  }
 .ordenar{
    display:flex;
    flex-direction: row;
    margin: 5%;
  
 }
 .ordenar .Artistas{
    margin-left: 0%;


 }
 .ordenar .Artistas button{
    width: 100%;
 }
 .ordenar .Artistas p{
    font-size: smaller;
    width: 100%;
    margin: 0;
 }
 .megusta img{
    margin:10%;
    height: 20% !important;
   
  }
  .ultimosMg{
    height:560px ;
    
  }
  .parrafo p{
    margin: 0%;
    font-family: $LetraTexto;
}
.biblioteca{
    border: none;
    box-shadow: none;
}
.informacion{
    margin-top: 4%;
    
}
.informacion h5{
    color: black;
}
.informacion img{
    height: 70%;
}

.card-title{
    font-family: $LetraTitulos !important;
} 
.card-text{
    font-family: $LetraTexto !important;
}
p{
    font-family: $LetraTexto; 
}

.Verificado{
    color: $colorVerificadoYBtn;
}


@import "_footer";